<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.bookmark.mapper.FavoritesMapper" >
  <resultMap id="BaseResultMap" type="com.bookmark.entity.Favorites" >
    <id column="id" property="id" jdbcType="BIGINT" />
    <result column="count" property="count" jdbcType="BIGINT" />
    <result column="create_time" property="createTime" jdbcType="BIGINT" />
    <result column="last_modify_time" property="lastModifyTime" jdbcType="BIGINT" />
    <result column="name" property="name" jdbcType="VARCHAR" />
    <result column="public_count" property="publicCount" jdbcType="BIGINT" />
    <result column="user_id" property="userId" jdbcType="BIGINT" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, count, create_time, last_modify_time, name, public_count, user_id
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    from favorites
    where id = #{id,jdbcType=BIGINT}
  </select>

  <select id="findFavoritesByUserId" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select
    <include refid="Base_Column_List" />
    from favorites
    where user_id = #{userId,jdbcType=BIGINT}
  </select>

  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from favorites
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.bookmark.entity.Favorites"  useGeneratedKeys="true" keyProperty="id">
    insert into favorites (id, count, create_time, 
      last_modify_time, name, public_count, 
      user_id)
    values (#{id,jdbcType=BIGINT}, #{count,jdbcType=BIGINT}, #{createTime,jdbcType=BIGINT}, 
      #{lastModifyTime,jdbcType=BIGINT}, #{name,jdbcType=VARCHAR}, #{publicCount,jdbcType=BIGINT}, 
      #{userId,jdbcType=BIGINT})
  </insert>
  <insert id="insertSelective" parameterType="com.bookmark.entity.Favorites" >
    insert into favorites
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="count != null" >
        count,
      </if>
      <if test="createTime != null" >
        create_time,
      </if>
      <if test="lastModifyTime != null" >
        last_modify_time,
      </if>
      <if test="name != null" >
        name,
      </if>
      <if test="publicCount != null" >
        public_count,
      </if>
      <if test="userId != null" >
        user_id,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=BIGINT},
      </if>
      <if test="count != null" >
        #{count,jdbcType=BIGINT},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=BIGINT},
      </if>
      <if test="lastModifyTime != null" >
        #{lastModifyTime,jdbcType=BIGINT},
      </if>
      <if test="name != null" >
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="publicCount != null" >
        #{publicCount,jdbcType=BIGINT},
      </if>
      <if test="userId != null" >
        #{userId,jdbcType=BIGINT},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.bookmark.entity.Favorites" >
    update favorites
    <set >
      <if test="count != null" >
        count = #{count,jdbcType=BIGINT},
      </if>
      <if test="createTime != null" >
        create_time = #{createTime,jdbcType=BIGINT},
      </if>
      <if test="lastModifyTime != null" >
        last_modify_time = #{lastModifyTime,jdbcType=BIGINT},
      </if>
      <if test="name != null" >
        name = #{name,jdbcType=VARCHAR},
      </if>
      <if test="publicCount != null" >
        public_count = #{publicCount,jdbcType=BIGINT},
      </if>
      <if test="userId != null" >
        user_id = #{userId,jdbcType=BIGINT},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.bookmark.entity.Favorites" >
    update favorites
    set count = #{count,jdbcType=BIGINT},
      create_time = #{createTime,jdbcType=BIGINT},
      last_modify_time = #{lastModifyTime,jdbcType=BIGINT},
      name = #{name,jdbcType=VARCHAR},
      public_count = #{publicCount,jdbcType=BIGINT},
      user_id = #{userId,jdbcType=BIGINT}
    where id = #{id,jdbcType=BIGINT}
  </update>
</mapper>