<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.bookmark.mapper.FeedbackMapper" >
  <resultMap id="BaseResultMap" type="com.bookmark.entity.Feedback" >
    <id column="id" property="id" jdbcType="BIGINT" />
    <result column="create_time" property="createTime" jdbcType="BIGINT" />
    <result column="feedback_advice" property="feedbackAdvice" jdbcType="VARCHAR" />
    <result column="feedback_name" property="feedbackName" jdbcType="VARCHAR" />
    <result column="last_modify_time" property="lastModifyTime" jdbcType="BIGINT" />
    <result column="phone" property="phone" jdbcType="VARCHAR" />
    <result column="user_id" property="userId" jdbcType="BIGINT" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, create_time, feedback_advice, feedback_name, last_modify_time, phone, user_id
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    from feedback
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from feedback
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.bookmark.entity.Feedback"  useGeneratedKeys="true" keyProperty="id">
    insert into feedback (id, create_time, feedback_advice, 
      feedback_name, last_modify_time, phone, 
      user_id)
    values (#{id,jdbcType=BIGINT}, #{createTime,jdbcType=BIGINT}, #{feedbackAdvice,jdbcType=VARCHAR}, 
      #{feedbackName,jdbcType=VARCHAR}, #{lastModifyTime,jdbcType=BIGINT}, #{phone,jdbcType=VARCHAR}, 
      #{userId,jdbcType=BIGINT})
  </insert>
  <insert id="insertSelective" parameterType="com.bookmark.entity.Feedback" >
    insert into feedback
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="createTime != null" >
        create_time,
      </if>
      <if test="feedbackAdvice != null" >
        feedback_advice,
      </if>
      <if test="feedbackName != null" >
        feedback_name,
      </if>
      <if test="lastModifyTime != null" >
        last_modify_time,
      </if>
      <if test="phone != null" >
        phone,
      </if>
      <if test="userId != null" >
        user_id,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=BIGINT},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=BIGINT},
      </if>
      <if test="feedbackAdvice != null" >
        #{feedbackAdvice,jdbcType=VARCHAR},
      </if>
      <if test="feedbackName != null" >
        #{feedbackName,jdbcType=VARCHAR},
      </if>
      <if test="lastModifyTime != null" >
        #{lastModifyTime,jdbcType=BIGINT},
      </if>
      <if test="phone != null" >
        #{phone,jdbcType=VARCHAR},
      </if>
      <if test="userId != null" >
        #{userId,jdbcType=BIGINT},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.bookmark.entity.Feedback" >
    update feedback
    <set >
      <if test="createTime != null" >
        create_time = #{createTime,jdbcType=BIGINT},
      </if>
      <if test="feedbackAdvice != null" >
        feedback_advice = #{feedbackAdvice,jdbcType=VARCHAR},
      </if>
      <if test="feedbackName != null" >
        feedback_name = #{feedbackName,jdbcType=VARCHAR},
      </if>
      <if test="lastModifyTime != null" >
        last_modify_time = #{lastModifyTime,jdbcType=BIGINT},
      </if>
      <if test="phone != null" >
        phone = #{phone,jdbcType=VARCHAR},
      </if>
      <if test="userId != null" >
        user_id = #{userId,jdbcType=BIGINT},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.bookmark.entity.Feedback" >
    update feedback
    set create_time = #{createTime,jdbcType=BIGINT},
      feedback_advice = #{feedbackAdvice,jdbcType=VARCHAR},
      feedback_name = #{feedbackName,jdbcType=VARCHAR},
      last_modify_time = #{lastModifyTime,jdbcType=BIGINT},
      phone = #{phone,jdbcType=VARCHAR},
      user_id = #{userId,jdbcType=BIGINT}
    where id = #{id,jdbcType=BIGINT}
  </update>
</mapper>